USE [master]
GO
/****** Object:  Database [TorneosGolf]    Script Date: 16/10/2023 11:55:32 ******/
CREATE DATABASE [TorneosGolf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TorneosGolf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\TorneosGolf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TorneosGolf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\TorneosGolf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TorneosGolf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TorneosGolf]
GO
/****** Object:  Table [dbo].[jugadores]    Script Date: 16/10/2023 11:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugadores](
	[ID_Jugador] [int] NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Handicap] [int] NOT NULL,
	[NumeroLicencia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Jugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resultados]    Script Date: 16/10/2023 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultados](
	[idResultado] [int] NOT NULL,
	[idJugador] [int] NULL,
	[nombre] [varchar](40) NULL,
	[HCP] [int] NULL,
	[RBruto] [int] NULL,
	[RNeto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[torneos]    Script Date: 16/10/2023 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[torneos](
	[idTorneo] [int] NOT NULL,
	[nombre] [varchar](40) NULL,
	[fecha] [varchar](max) NULL,
	[club] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[resultados]  WITH CHECK ADD FOREIGN KEY([idJugador])
REFERENCES [dbo].[jugadores] ([ID_Jugador])
GO
USE [master]
GO
